<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDwkn_6czkvma3DXnw0-UzutHIruGItZnY</string>
	<key>GCM_SENDER_ID</key>
	<string>168998815789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contaktUi</string>
	<key>PROJECT_ID</key>
	<string>contact-d2958</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-d2958.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168998815789:ios:4a53c06c15cd1b0afb50a4</string>
</dict>
</plist>